$start: left;
$end: right;

 //Typography
$font-family-sans-serif:            "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-serif:                 Cambria, Times New Roman, Times, serif !default;
$font-family-base:                  $font-family-sans-serif;

$golden-ratio:                      1.875;
$font-size-base:                    16px;
$font-weight-base:                  400;

$line-height-base:                  $golden-ratio;

$line-height-base:                  $golden-ratio;
$line-height-computed:              floor($font-size-base * $line-height-base);

$base-spacing-unit:                 $line-height-computed;
$half-spacing-unit:                 $line-height-computed / 2;

$headings-font-family:              $font-family-serif;
$headings-font-weight:              bold;
$headings-line-height:              1.1;
$headings-letter-spacing:           0;
$headings-color:                    inherit;

// Grid
// $use-silent-classes:  	true!default;
// $push:					true!default;
// $pull:					true!default;

// Media Queries and grid settings
$screen-extra-small:              	480px!default;
$screen-small:                    	620px!default;
$screen-medium:                   	768px!default;
$screen-large:                    	1024px!default;
$screen-extra-large:              	1280px!default;

$screen:                          	"only screen";
$small:                           	"only screen and (min-width: #{$screen-extra-small})";
$small:                           	"only screen and (min-width: #{$screen-small})";
$medium:                          	"only screen and (min-width: #{$screen-medium})";
$large-max:                       	"only screen and (max-width: #{$screen-large - 1})";
$small-max:                       	"only screen and (max-width: #{$screen-small - 1})";
$medium-max:                      	"only screen and (max-width: #{$screen-medium - 1})";
$large:                           	"only screen and (min-width: #{$screen-large})";
$extra-large:                     	"only screen and (min-width: #{$screen-extra-large})";
$landscape:                       	"only screen and (orientation: landscape)";
$portrait:                        	"only screen and (orientation: portrait)";

// Breakpoints

$breakpoints: (
    'large' '(min-width: #{$screen-large})',
    'medium' '(min-width: #{$screen-medium})',
    'small' '(min-width: #{$screen-small})',
    'extra-small' '(min-width: #{$screen-extra-small})'
)!default;

$breakpoint-has-widths: ('small', 'medium', 'large')!default;
$breakpoint-has-push:   ('small', 'medium', 'large')!default;
$breakpoint-has-pull:   ('small', 'medium', 'large')!default;
